*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: #e6e9fd;
    font-family: 'Epilogue', sans-serif;
    padding: 6.0rem 2.3rem 6.3rem;
    font-size: 1.6rem;
}

main{
    max-width: 33.0rem;
    margin: 0 auto;
}

main p:first-child{
    text-transform: uppercase;
    line-height: 3.2rem;
    letter-spacing: 3px;
    color: #7158ef;
    margin-bottom: 1.7rem;
}

main h1{
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;
    color: #090039;
    margin-bottom: 1.5rem;
}

main h1 + p{
    line-height: 3.2rem;
    color: rgba(10, 0, 57, 0.64);
    margin-bottom: 3.2rem;
}

main a{
    text-decoration: none;
    line-height: 3.2rem;
    color: #090039;
}

main a:hover{
    color: #7158ef;
}

main ul{
    list-style: none;
    margin-top: 7.2rem;
}

main ul li{
    color: #090039;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 25.7rem;
    display: flex;
    gap: 3.8rem;
}

main ul li span{
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
    letter-spacing: -2px;
}

main ul li + li{
    margin-top: 3.2rem;
}

@media (min-width: 700px){
    body{
        padding: 8rem;
    }

    main{
        max-width: 1020px;
        display: flex;
        gap: 10rem;
    }

    main > div{
        max-width: 484px;
    }

    main ul li{
        max-width: 450px;
        align-items: center;
        gap: 5.3rem;
    }
}